@page "/games"
@using Microsoft.AspNetCore.Authorization
@using ViewModels.Games

@inherits MvvmComponentBase<GamesViewModel>

@attribute [Authorize]

@foreach(var game in BindingContext.Games)
{
  <p>Game Id: game.Id</p>
}
